*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color:black;
  font-family: 'Roboto', sans-serif;
}
/* hover */
.nav .clm:hover,.angle-up:hover i[class*="fa-angle-up"],header .view:hover{
  color: rgb(0, 218, 0);
  cursor: pointer;
}
.angle-up{
  cursor: pointer;
}
/* ****************************** */


header{
  height: 40px;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  color:white;
}
.view{
  background-color:#4a4a4a;
  font-size:10px;
  padding : 5px ;
  margin : 5px;
  border-radius:5px;
}



/* MAIN */
main{
  height: calc(100vh - 100px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
main .item{
  position:relative;
  padding:2px;
  align-self: flex-start;
}
main .mic{
  color: white;
  background-color: rgba(1, 1, 1, 0.6);
  padding:5px;
  position:absolute;
  bottom:5%;
}



/* FOOTER */
footer{
  height:60px;
  background-color:#222222;
  display: flex;
  justify-content:space-between;
  padding: 0px 5px;
}

/* nav global */
.nav{
  color:white;
  display: flex;
  justify-content: space-between;
}
.nav .clm{
 display:flex ;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}
.nav .clm i{
  font-size: 20px;
}
.nav .clm div:last-child{
  font-size: 10px;
}
.nav .angle-up{
  align-self: center;
}

/* for all angle up */
i[class*="fa-angle-up"] {
  font-size: 10px;
  align-self: center;
}

/* nav left */
.nav.left{
  width:12%;
}

/* nav center */
.nav.center{
  width: 40%;
}

/* nav right */
.nav.right{
  width: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: gray;
  font-size: 10px;
}




