*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color:black;
  font-family: 'Roboto', sans-serif;
}
/* hover */
.nav .clm:hover,.angle-up:hover,header .view:hover{
  background-color:rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.angle-up,.nav.right, .item{
  cursor: pointer;
}
/* ****************************** */


header{
  height: 40px;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  color:white;
}
.view{
  background-color:#222222;
  font-size:10px;
  padding : 5px ;
  margin : 5px;
  border-radius:5px;
}



/* MAIN */
main{
  height: calc(100vh - 100px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
main .item{
  position:relative;
  padding:0px 2px;
}
main .mic{
  color: white;
  background-color: rgba(1, 1, 1, 0.7);
  padding:5px;
  position:absolute;
  bottom:4%;
}



/* FOOTER */
footer{
  height:60px;
  background-color:#222222;
  display: flex;
  justify-content:space-between;
  padding: 0px 0px 0px 5px;
}

/* nav global */
.nav{
  color:white;
  display: flex;
  justify-content: space-between;
  flex-shrink:0;
 
}
.nav .clm{
 display:flex ;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 padding:0px 5px;
}
.nav .clm i{
  font-size: 20px;
}
.nav .clm div:last-child{
  font-size: 10px;
}


/* for all angle up */
i[class*="fa-angle-up"] {
  font-size: 10px;
  line-height: 60px;
  padding:0 10px;
}
/* nav center */
.nav .clm.active{
  color:rgb(43, 233, 25);
}
/* nav right */
.nav.right{
  width: 10%;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: gray;
  font-size: 10px;
}




